/* * {
  border: 1px solid lightcoral;
} */

body {
  background-color: #FFE9B9;
  color: #736341;
}

.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.grid-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controls-ctn {
  flex: 2;
}

.controls {
  width: 512px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

button {
  display: block;
  border: none;
  width: max-content;
  max-width: 100%;
  height: max-content;
  max-height: 100%;
  padding: 6px 18px;
  background-color: #FFBA7A;
  box-shadow: -3px 3px #735941;
}

#color-picker {
  border: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.selected {
  background-color: #C68C57;
}

/* Grid styles */

.grid-container {
  box-shadow: #2944467c 0px 5px 15px;
  display: grid;
  width: 512px;
  height: 512px;
}

.color {
  color: hsl(0, 100%, 64%);
}

/* .grid {
  
} 
*/